body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    background-image: url('../img/imagenFondo.png'); /* Ruta de tu imagen */
    background-size: cover; /* Para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
}


.carousel-container {
    max-width: 800px;
    margin: 40px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

.slide img {
    width: 100%;
    border-radius: 8px;
}

.description {
    text-align: center;
    margin-top: 10px;
}
 ::-webkit-scrollbar {
    display: none;
} 






.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }
  
  .btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn-light {
    background: #fda94f;
  }
  
  .btn-dark {
    background: #4d4d4d;
  }
  
  .btn-light:hover {
    background: #fec281;
  }
  
  .btn-dark:hover {
    background: #737373;
  }
 
  /* Reservation */
  #reservation {
    margin-bottom: 20px;
  }
  
  #reservation h2 {
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    font-weight: lighter;
    color: #4d4d4d;
  }
  
  #reservation a {
    float: right;
    margin-right: 120px;
  }
  
  .py-30 {padding: 30px 0;}

