footer {
    background-color: rgba(236, 221, 140, 0.7); /* Marrón claro con menos opacidad */
    color: #fff; /* Color de texto */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
