<div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/registro">Registro</a>
        </li>
        <li>
            <a href="/usuario">usuario</a>
        </li>
    </ul>
</div>
<link rel="stylesheet" href="./css/navBarStyle.css">